DOMAIN_NAME=rpedrosa.42.fr
WP_FULL_URL=https://rpedrosa.42.fr

WP_TITLE="Inception rpedrosa"
WP_ADMIN_USER=admin_login
WP_ADMIN_EMAIL=admin@42.fr

WP_USER=user_login
WP_EMAIL=user@42.fr
WP_ROLE=author

DB_NAME=inception_db
DB_USER=inception_user
DB_HOST=mariadb:3306

WP_AUTH_KEY="random_long_string1"
WP_SECURE_AUTH_KEY="random_long_string2"
WP_LOGGED_IN_KEY="random_long_string3"
WP_NONCE_KEY="random_long_string4"
WP_AUTH_SALT="random_long_string5"
WP_SECURE_AUTH_SALT="random_long_string6"
WP_LOGGED_IN_SALT="random_long_string7"
WP_NONCE_SALT="random_long_string8"

CERT_FOLDER=/etc/nginx/ssl
CERTIFICATE=rpedrosa.42.fr.crt
KEY=rpedrosa.42.fr.key
COUNTRY=PT
STATE=Porto
LOCALITY=Porto
ORGANIZATION=42Porto
UNIT=Inception
COMMON_NAME=rpedrosa.42.fr